* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: rgb(205, 205, 205);
}
h1 {
  text-align: center;
}
body,
.canvas,
.board,
.row {
  display: flex;
  align-items: center;
}
body,
.board {
  flex-direction: column;
  align-items: unset;
  justify-content: stretch;
}
body {
  padding: 3rem 0;
  justify-content: space-around;
  color: var(--text-color);
  background: url(./img/background.jpg) no-repeat;
  background-size: cover;
}
.canvas {
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
}
.board {
  height: 30rem;
  width: 30rem;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.row {
  min-width: 2rem;
  height: 10%;
}
.board,
.cell {
  border: 1px solid rgb(164, 164, 164);
}
.title {
  position: absolute;
  font-size: 1.5rem;
  top: -4.7rem;
  left: 35%;
}
.computer-board {
  background: rgb(118, 118, 118);
}
.cell {
  width: 10%;
  min-width: 2rem;
  height: 100%;
  background: rgb(33, 33, 33);
}
.cell:hover {
  cursor: pointer;
  background: rgb(62, 62, 62);
}
.label {
  color: rgb(221, 56, 56);
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
}
.number-label {
  top: -50%;
  left: 50%;
}
.text-label {
  top: 50%;
  left: -50%;
}
