* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "playguard";
  src: url(./Plaguard-ZVnjx.otf);
  /* NOTE: This Font is not for commercial use.
  FONT WEBSITE: link: https://www.fontspace.com/plaguard-esport-font-f56402
  Are You interested with this font for commercial license, 
  please check at this : https://rometheme.net/product/plaguard-esport-font/ */
}
:root {
  --text-color: rgb(205, 205, 205);
  --playguard: "playguard", sans-serif;
  --cell-border: 1px solid var(--text-color);
  /* --cell-bg-color: rgb(33, 33, 33); */
  --cell-bg-color: rgb(56, 103, 165);
  /* --cell-hover-color: rgb(62, 62, 62); */
  --cell-hover-color: rgb(38, 81, 138);
  --label-text-color: rgb(221, 56, 56);
}
body {
  padding: 3rem 0;
  justify-content: space-around;
  color: var(--text-color);
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  font-family: var(--playguard);
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 3rem;
  height: 20%;
}
body,
.canvas,
.board,
.row {
  display: flex;
  align-items: center;
}
body,
.board {
  flex-direction: column;
  justify-content: stretch;
}
.board {
  align-items: unset;
}
.canvas {
  height: 80%;
  width: 100vw;
  justify-content: space-evenly;
  margin-top: 7rem;
}
.board {
  height: 30rem;
  width: 30rem;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.row {
  min-width: 2rem;
  height: 10%;
}
.board,
.cell {
  border: var(--cell-border);
}
.title {
  position: absolute;
  font-size: 2rem;
  top: -5.2rem;
  left: 24%;
}
.cell {
  width: 10%;
  min-width: 2rem;
  height: 100%;
  background: var(--cell-bg-color);
}
.cell:hover {
  cursor: pointer;
  background: var(--cell-hover-color);
}
.label {
  color: var(--label-text-color);
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.number-label {
  top: -50%;
  left: 50%;
}
.text-label {
  top: 50%;
  left: -50%;
}

@media screen and (max-width: 1116px) {
  body {
    min-height: 230vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .canvas {
    flex-direction: column;
  }
  .board {
    margin: 5rem 0;
  }
}
